---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Education - Karol Rutkowski">
	<section class="min-h-screen flex items-center justify-center py-20 px-4">
		<div class="max-w-6xl mx-auto w-full">
			<h1 class="text-4xl md:text-6xl font-bold mb-12 text-center text-white" data-aos="zoom-in-up">My Education</h1>

			<div class="space-y-8">
				<div data-aos="fade-up" data-aos-delay="50">
					<div
						class="education-item bg-gray-800/50 rounded-lg p-6 shadow-xl transition-all duration-300 hover:scale-105 hover:shadow-2xl border border-[rgba(255,255,255,0.1)] hover:border-[rgba(255,255,255,0.2)]"
					>
						<h2 class="text-2xl font-semibold text-sky-400">Master's Degree in Managment</h2>
						<p class="text-lg text-gray-300 mt-2">Wroclaw University of Science and Technology</p>
						<p class="text-gray-500 mt-1">Oct 2024 - June 2027 (Expected)</p>
					</div>
				</div>

				<div data-aos="fade-up" data-aos-delay="100">
					<div
						class="education-item bg-gray-800/50 rounded-lg p-6 shadow-xl transition-all duration-300 hover:scale-105 hover:shadow-2xl border border-[rgba(255,255,255,0.1)] hover:border-[rgba(255,255,255,0.2)]"
					>
						<h2 class="text-2xl font-semibold text-sky-400">Engineer's Degree in Computer Science</h2>
						<p class="text-lg text-gray-300 mt-2">Wroclaw University of Science and Technology</p>
						<p class="text-gray-500 mt-1">Oct 2020 - Feb 2024</p>
					</div>
				</div>

				<div data-aos="fade-up" data-aos-delay="150">
					<div
						class="education-item bg-gray-800/50 rounded-lg p-6 shadow-xl transition-all duration-300 hover:scale-105 hover:shadow-2xl border border-[rgba(255,255,255,0.1)] hover:border-[rgba(255,255,255,0.2)]"
					>
						<h2 class="text-2xl font-semibold text-sky-400">High School Diploma</h2>
						<p class="text-lg text-gray-300 mt-2">High School Number II, Opole</p>
						<p class="text-gray-500 mt-1">Sep 2017 - May 2020</p>
					</div>
				</div>

				<div data-aos="fade-up" data-aos-delay="200">
					<div
						class="education-item bg-gray-800/50 rounded-lg p-6 shadow-xl transition-all duration-300 hover:scale-105 hover:shadow-2xl border border-[rgba(255,255,255,0.1)] hover:border-[rgba(255,255,255,0.2)]"
					>
						<h2 class="text-2xl font-semibold text-sky-400">Junior High School</h2>
						<p class="text-lg text-gray-300 mt-2">Junior High School Number X, Opole</p>
						<p class="text-gray-500 mt-1">Sep 2014 - Jul 2017</p>
					</div>
				</div>

				<div data-aos="fade-up" data-aos-delay="250">
					<div
						class="education-item bg-gray-800/50 rounded-lg p-6 shadow-xl transition-all duration-300 hover:scale-105 hover:shadow-2xl border border-[rgba(255,255,255,0.1)] hover:border-[rgba(255,255,255,0.2)]"
					>
						<h2 class="text-2xl font-semibold text-sky-400">Primary Education</h2>
						<p class="text-lg text-gray-300 mt-2">Primary School Number 15, Opole</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>
