---
import { Icon } from 'astro-icon/components';
---

<footer class="flex flex-col items-center py-6 text-sky-400/60">
	<div class="flex justify-center gap-8 mb-4">
		<a href="https://github.com/szarl" class="flex text-sky-400/60 hover:text-sky-400 h-6 w-6" target="_blank" rel="noopener noreferrer">
			<Icon name="github" class="h-6 w-6" title="Github" />
		</a>
		<a
			href="https://linkedin.com/in/YourLinkedInUsername"
			class="flex text-sky-400/60 hover:text-sky-400"
			target="_blank"
			rel="noopener noreferrer"
		>
			<Icon name="linkedin" class="h-6 w-6" title="Linkedin" />
		</a>
	</div>
	<p class="flex">&copy; {new Date().getFullYear()} Karol Rutkowski. All rights reserved.</p>
</footer>
